@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
* {
	font-family: inherit;
}

.bg-deep-blue {
	background-color: #26547c;
}

.text-deep-blue {
	color: #26547c;
}

.text-teal {
	color: #2cb4ad;
}

section h2 {
	text-align: center;
}

/* Custom styles for carousel */
.carousel {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	margin-top: 1rem;
	padding-bottom: 1rem;
}

.carousel-item {
	min-width: 300px; /* Adjust as needed for item width */
	padding: 1rem;
	margin-right: 1rem;
	background-color: #f5f5f5;
	border-radius: 8px;
	scroll-snap-align: start;
	flex: 0 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-item p {
	margin: 0.5rem 0;
}
