:root {
  --text-dark: #212529;
  --text-light: #f8f9fa;
  --bg-light: #d0d0d0;
  --bg-dark: #060513;
  --text-font: "Outfit";  
  --section-divider: #a1a1a1;
}

/* general styles */
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--bg-light);
    color: var(--text-dark);
    font-family: var(--text-font); 
  }

  .full-content {
    padding: 3% 15% 0;
  }

  h1 {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
  }

  h2 {
    font-weight: 700;
    font-size: 1.7rem;
    color: #313131;
    /* line-height: 1.5; */
  }

  h3 {
    font-weight: 700;
  }
  
  p {
    font-weight: 200;
  }

  section > h3 {
    padding: 24px 0 32px;
  }

  .divider {
    margin-bottom: 4%;
    padding: 0 0 4%;
    border-bottom: 1px solid var(--section-divider);
    }
/* end of general styles */

  .title-text {
    /* background-color: red; */
    font-size: 1.2rem;
  }

  .title-image {
    width: 100%;
    border-radius: 100%;
    border: 2px solid var(--text-dark);
    /* transform: rotate(-10deg); */
    transform: rotate(0deg);
    transition: all 0.26s ease-in-out;
  }

    .navigation-bar {
      padding: 0 0 4rem;
      /* visibility: hidden; */
    }
    
    .navigation-bar button span{
      color: var(--bg-light);
    }
    
    .nav-link {
      font-size: 1.2rem;
      opacity: 0.7;
    }
  /* end of navbar */

  
  /* title buttons */
    .title-button {
      margin: 2% 2% 5% 0;
      width: 12em;
      transition: all ease-in-out;
      font-size: 1.1rem;
    }

    .btn-dark {
      transition: all 0.26s ease-in-out;
    }

    .btn-dark:hover {
      background: transparent;
      color: var(--text-dark);
    }
  /* end of title buttons */
/* end of title */

/* about */
  .about-text {
    font-size: 1.4rem;
    text-align: justify;
  }

/* mentees */
  #mentees {
    height: 20%;
    text-align: center;
  }

  #mentees h2 {
    font-size: 2rem;
    line-height: 1.5;
  }

  .mentee-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }

  .carousel-item {
    padding: 7% 15%;
  }
/* end of mentees */



/* footer */
  #footer {
    padding: 8% 0;
    text-align: center;
    font-weight: 200;
    color: var(--bg-dark);
  }

  footer p {
    color: var(--text-dark);
    opacity: 0.7;
  }
  
  footer p a {
    color: var(--text-dark);
    text-decoration: none;
  }
  
  footer p a:hover {
    text-decoration: underline;
  }
/* end of footer */



/* phone responsiveness */
/* for col-sm-12 */
@media only screen and (max-width: 767px) {
  /* title */
  #title {
    text-align: center;
  }

  .title-image {
    width: 12rem;
  }

  /* about me */
  .about-text {
    font-size: 1.1rem;
  }
}

/* before col-sm-12 */
@media only screen and (max-width: 860px) {

  .title-text h1{
    font-size: 2rem;
  }

  .title-text h2{
    font-size: 1.3rem;
  }

  .title-text p{
    font-size: 1rem;
  }

  .about-text {
    font-size: 1.2rem;
  }
}
