:root {
        --dark-accent: #2e2e2e;
        --light-bg: #f8f9fa;
      }

      body {
        font-family: Helvetica, "Times New Roman", Times, serif;
        margin: 0;
        padding: 0;
        background-color: var(--light-bg);
        transition: all 0.15s ease-in-out;
      }

      header {
        background: var(--light-bg);
        color: #000;
        position: fixed;
        width: 100%;
        text-align: center;
        padding: 20% 0;
        z-index: 20;
        height: 100%;
        transition: all 0.25s ease-in-out;
      }

      body:hover header {
        background: var(--dark-accent);
        color: #fff;
        padding: 10px 0;
        height: 18%;
        margin: 0;
      }

      body:hover h1 {
        color: #fff;
      }

      .hidden-header-text {
        display: inline;
        transition: all 0.15s ease-in-out;
      }

      #hidden-header-btn {
        display: none;
        color: var(--light-bg);
        transition: all 0.15s ease-in-out;
      }

      body:hover .hidden-header-text {
        display: none;
      }

      section {
        padding: 20px;
        margin-top: 80px; /* Added margin-top to create space for fixed header */
      }

      .btn-dark:hover {
        background: transparent;
        color: rgb(17, 17, 17);
      }

      h1 {
        color: var(--dark-accent);
        transition: all 0.15s ease-in-out;
      }

      h3 {
        font-size: 1.7rem;
        line-height: 2.2rem;
        font-weight: 800;
      }

      .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .about img {
        border-radius: 100%;
        max-width: 180px;
        margin: 0 50px 0 0;
      }

      ul {
        text-decoration: none;
        padding: 0;
      }

      li {
        padding: 10px 0;
      }

      .education,
      .research,
      .publications {
        margin-bottom: 40px;
      }

      /* mentees */
      #mentees {
        height: 20%;
        text-align: center;
      }

      #mentees h2 {
        font-size: 2rem;
        line-height: 1.5;
      }

      .mentee-image {
        width: 10%;
        border-radius: 100%;
        margin: 20px;
      }

      .mentee-image.hide {
        display: none;
      }

      .carousel-item {
        padding: 7% 15%;
      }

      /* end of mentees */

      footer {
        background-color: var(--dark-accent);
        color: #ffffff;
        text-align: center;
        padding: 15px;
        position: fixed;
        z-index: 200;
        bottom: 0;
        width: 100%;
      }

      .container-fluid {
        padding: 7% 15%;
      }

      footer a {
        color: #fff;
        text-decoration: none;
        font-size: 35px;
        margin: 15px;
      }

      footer a:hover {
        color: rgb(200, 200, 200);
      }

      footer p span {
        color: rgb(208, 241, 239);
      }

      .mentee-button {
        transition: all 0.2s ease-in;
      }

      .mentee-button:hover {
        background: rgb(167, 167, 167);
      }

      .carousel-item {
        height: 300px;
      }

      @media (max-width: 820px) {
        body {
          font-family: Helvetica, "Times New Roman", Times, serif;
          margin: 0;
          padding: 0 0 200px;
          background-color: var(--light-bg);
          transition: all 0.15s ease-in-out;
        }

        .container-fluid {
          padding: 7% 4%;
        }

        header {
          background: var(--dark-accent);
          color: #fff;
          position: fixed;
          width: 100%;
          text-align: center;
          padding: 10px 0;
          height: 19%;
          transition: all 0.25s ease-in-out;
        }

        body:hover header {
          height: 19%;
        }

        .hidden-header-text {
          display: inline;
          transition: all 0.15s ease-in-out;
        }

        #hidden-header-btn {
          display: inline-block;
          color: var(--light-bg);
          transition: all 0.15s ease-in-out;
        }

        .hidden-header-text {
          display: none;
        }

        .about {
          flex-direction: column;
          text-align: justify;
          align-items: center;
        }

        .about img {
          margin: 0 auto;
          max-width: 50%;
        }

        .about-text {
          margin-top: 20px;
        }

        section {
          padding: 10px;
          margin-top: 80px; /* Added margin-top to create space for fixed header */
        }

        .btn-dark:hover {
          background: transparent;
          color: rgb(17, 17, 17);
        }

        h1 {
          color: #fff;
          transition: all 0.15s ease-in-out;
        }

        ul {
          text-decoration: none;
          padding: 0;
        }

        li {
          padding: 10px 0;
        }

        .education,
        .research,
        .publications {
          margin-bottom: 40px;
        }

        footer {
          background-color: var(--dark-accent);
          color: #ffffff;
          text-align: center;
          padding: 10px;
          position: fixed;
          bottom: 0;
          width: 100%;
        }

        footer a {
          color: #fff;
          text-decoration: none;
        }

        footer a:hover {
          color: rgb(200, 200, 200);
        }

        footer p span {
          color: rgb(208, 241, 239);
        }
      }
