@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--deep-blue: #1a237e;
	--teal: #009688;
}

.bg-deep-blue {
	background-color: var(--deep-blue);
}

.text-teal {
	color: var(--teal);
}
